<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.zct11.course">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
      
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
       
    <application
        android:name=".app.CourseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/vclass_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/vclass_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.TransitionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ViewBigPicTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.home.CourseDetilsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.login.LoginActivity" />
        <activity
            android:name=".widget.webview.WebViewActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.download.DownloadActivity" />
        <activity
            android:name=".ui.download.HadDownloadActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.me.TagerActivity" />
        <activity android:name=".ui.me.SettingActivity" />
        <activity android:name=".ui.download.HistoryActivity" />
        <activity android:name=".ui.me.InformationActivity" />
        <activity android:name=".ui.me.UserInformationActivity" />
        <activity android:name=".ui.me.MyLoveActivity" />
        <activity android:name=".ui.login.RegisterActivity" />
        <activity android:name=".ui.me.AboutActivity"></activity>
    </application>

</manifest>